
.top-container
{
  background-color: #E0ebe8;
  padding-top: 100px;

}
.middle-container
{
  padding-top: 80px;
  font-family: 'Montserrat', sans-serif;
}

.cloud
{
  position: absolute;
  top: 420px;
  left: 340px;
}

.shake:hover
{
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.top-cloud
{
  position: absolute;
  top: 90px;
  right: 300px;

}
body
{
  margin: 0;
  text-align: center;
  color: #40514E;
  font-family: 'Montserrat', sans-serif;
}

h1
{
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}
h2
{
  font-size: 2.5rem;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

h3
{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a
{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p
{
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

.imgc
{
  width: 25%;
  float: left;
  margin-right: 40px;
}

.imgc1
{
  width: 25%;
  float: right;
  margin-left: 40px;
}

.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

hr
{
  border-style: dotted none none;
  width: 4%;
  border-width: 7px;
  border-color: #EAF6F6;
}
.pro
{
  text-decoration: underline;
}

span:hover
{
  color: black;
}
.programmer
{
  margin-top: 10px;
  font-size: 1.75rem;
}

.contact-me
{
  margin: 40px auto 60px auto;
  line-height: 2;
  width: 30%;

}
.bottom-container
{
  background-color: #66BFBF;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
}
.footer-link
{
  margin: 10px 20px;
  text-decoration: none;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.footer-link:hover
{
  color: #EAF6F6;

}

.foot
{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.profile
{
  padding-bottom: 60px;
}

.skills
{
  padding-top: 30px;
}
.intro
{
  width: 20%;
  margin: auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  position: relative;
  top: 10px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
